:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;

  --text: #212121;
  --txt-cl: #757575;
  --accent-cl: #2196f3;
  --bg-cl: #2f303a;
  --color: #fff;
  --span: #000;
  --text-bg-cl: #f5f4fa;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--color);
  background-color: var(--color);
}
.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--accent-cl);
  text-decoration: none;
}
.span-color {
  color: var(--span);
}
.header-group {
  background: var(--bg-cl);
}
.contacts {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--text);
}
.information {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--txt-cl);
  text-decoration: none;
}
.information-number {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--txt-cl);
  text-decoration: none;
}
.information-number:hover,
.information:focus {
  color: var(--accent-cl);
}
.information:hover,
.information:focus {
  color: var(--accent-cl);
}
.hero-title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 44px;

  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color);
}
.btn {
  border-radius: 4px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--accent-cl);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;

  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color);
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: #2196f3;
  color: var(--color);
}
.all {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;

  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color);
  cursor: pointer;
  border-radius: 4px;

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
  background: #2196f3;
}
.list-buttons {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;

  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text);
  cursor: pointer;
  border-radius: 4px;

  background: #f5f4fa;
}
.list-buttons:hover,
.list-buttons:focus {
  background-color: #2196f3;
  color: #fff;
}
.features {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text);
}
.features-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;

  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--txt-cl);
}

.our-occupation {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text);
}
.our-team {
  background: var(--text-bg-cl);
}
.team {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text);
}
.name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text);
}
.specialization {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--txt-cl);
}
.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--accent-cl);
}
.span {
  color: var(--color);
}
.street-address {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;

  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color);
  font-style: normal;
}
.information-email {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;

  line-height: 1.14;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style:normal;
}
.information-telephone {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;

  line-height: 1.14;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style:normal;
}
.information-email:hover,
.information-email:focus {
  color: var(--txt-cl);
}
.information-telephone:hover,
.information-telephone:focus {
  color: var(--txt-cl);
}
.list {
  list-style-type: none;
}
.footer {
  background: var(--bg-cl);
}
.studio-index {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--accent-cl);
}
.portfolio-index {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--text);
}
.portfolio-index:hover {
  color: var(--accent-cl);
}
.studio:hover {
  color: var(--accent-cl);
}
.studio-list {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--text);
}
.studio-list:hover {
  color: var(--accent-cl);
}
.portfolio-list {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--accent-cl);
}
.contacts,
.contacts-list {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--text);
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-cl);
}
.contacts-list:hover,
.contacts-list:focus {
  color: var(--accent-cl);
}
.information-number:hover {
  color: var(--accent-cl);
}
.text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text);
}
.classification {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--txt-cl);
}

a {
  text-decoration: none;
}
