:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --text: #212121;
  --txt-cl: #757575;
  --accent-cl: #2196f3;
  --bg-cl: #2f303a;
  --color: #fff;
  --span: #000;
  --text-bg-cl: #f5f4fa;
  --red: #ff0000;
}

li {
  list-style-type: none;
}

* {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--color);
  background-color: #fff;
}

header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

img {
  display: block;
}

a {
  outline: none;
  text-decoration: none;
  color: currentColor;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--accent-cl);
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
  color: #000;
  padding-left: 221px;
}

.navigation {
  margin-left: 93px;
}

.list-informatoins {
  display: flex;
}

.navigation-item:nth-child(1n+2) {
  margin-left: 50px;
}

.list-navigations {
  display: flex;
  margin-right: 344px;
}

.navigation-item {
  margin-right: 50px;
  display: flex;
}

.navigation-item:last-child {
  margin-right: 0;
}

.span-color {
  color: var(--span);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.header-group {
  background: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
}

.studio-index {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--accent-cl);
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 93px;
}

.portfolio-index {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--text);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 72px;
  height: 16px;
  box-sizing: content-box;
}

.contacts-index {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--text);
  margin-top: 32px;
  margin-bottom: 32px;
  width: 64px;
  height: 16px;
}

.contacts-index:last-child {
  margin-right: auto;
}

.contacts-index:hover,
.contacts-index:focus {
  color: var(--accent-cl);
}

.header-group-list {
  margin-left: auto;
  display: flex;
}

.information-list:last-child {
  margin-left: 50px;
}

.portfolio-index:hover {
  color: var(--accent-cl);
}

.studio:hover {
  color: var(--accent-cl);
}

.container-header {
  display: flex;
  align-items: center;
}

.header-group-list {
  display: flex;
  box-sizing: content-box;
}

.information {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--txt-cl);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 50px;
  justify-content: center;
  text-align: center;
  display: flex;
}

.information-number {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--txt-cl);
  text-decoration: none;
  justify-content: center;
  text-align: center;
  padding-right: 209px;
}

.information-number:hover,
.information:focus {
  color: var(--accent-cl);
}

.information:hover,
.information:focus {
  color: var(--accent-cl);
}

.studio-list {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--text);
  margin-right: 50px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 93px;
  width: 45px;
  height: 16px;
}

.studio-list:hover {
  color: var(--accent-cl);
}

.portfolio-list {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--accent-cl);
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 72px;
  height: 16px;
}

.contacts-list {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--text);
  margin-left: 50px;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 64px;
  height: 16px;
}

.buttons {
  text-align: left;
  display: flex;
  width: 575px;
  height: 54px;
}

.contacts-list:hover,
.contacts-list:focus {
  color: var(--accent-cl);
}

.information-number:hover {
  color: var(--accent-cl);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color);
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.container-group {
  width: 1600px;
  height: 600px;
  background: #2f303a;
  padding-top: 13px;
}

.btn {
  margin: 0 auto;
  display: block;
  width: 216px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  color: var(--color);
  background-color: #2196f3;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
}

.about-group {
  padding-top: 94px;
}

.btn:hover,
.btn:focus {
  background-color: #2196f3;
  color: var(--color);
}

.about-container {
  display: flex;
  align-items: center;
}

.all {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgb(0, 0, 0, 0.12), 0 1px 2px 0 rgb(0, 0, 0, 0.08), 0 3px 1px 0 rgb(0, 0, 0, 0.1);
  background: #2196f3;
  width: 73px;
  height: 38px;
  margin-left: auto;
  margin-right: 8px;
  margin-top: 94px;
  margin-bottom: 50px;
}

.websites {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text);
  cursor: pointer;
  border-radius: 4px;
  background: #f5f4fa;
  width: 125px;
  height: 38px;
  margin-right: 8px;
  margin-top: 94px;
  margin-bottom: 50px;
}

.applications {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text);
  cursor: pointer;
  border-radius: 4px;
  background: #f5f4fa;
  width: 112px;
  height: 38px;
  margin-right: 8px;
  margin-top: 94px;
  margin-bottom: 50px;
}

.design {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text);
  cursor: pointer;
  border-radius: 4px;
  background: #f5f4fa;
  width: 103px;
  height: 38px;
  margin-right: 8px;
  margin-top: 94px;
  margin-bottom: 50px;
}

.marketing {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text);
  cursor: pointer;
  border-radius: 4px;
  background: #f5f4fa;
  width: 130px;
  height: 38px;
  margin-right: 8px;
  margin-top: 94px;
  margin-bottom: 50px;
}

.websites:hover,
.websites:focus {
  background-color: #2196f3;
  color: var(--color);
}

.applications:hover,
.applications:focus {
  background-color: #2196f3;
  color: var(--color);
}

.design:focus,
.design:focus {
  background-color: #2196f3;
  color: var(--color);
}

.marketing:hover,
.marketing:focus {
  background-color: #2196f3;
  color: var(--color);
}

.image-portfolio {
  display: flex;
  width: 1170px;
  height: 1272px;
}

.image-list {
  margin-right: 30px;
  margin-left: auto;
  width: 370px;
  height: 404px;
  display: flex;
  margin-top: 182px;
  margin-bottom: 30px;
}

.features-list {
  width: 270px;
}

.features-list:not(:last-child) {
  margin-right: 30px;
}

.features {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text);
  margin-bottom: 10px;
}

.features-item {
  display: flex;
}

.features-item:last-child {
  margin-right: 0;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--txt-cl);
}

.container-img {
  width: 1170px;
  height: 386px;
}

.features-list {
  width: 270px;
  height: 98px;
}

.features-list:last-child {
  margin-right: 0;
}

.our-occupation {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text);
  margin-bottom: 50px;
}

.image-item {
  margin-left: 30px;
}

.image-item:first-child {
  margin-left: 0;
}

.our-team {
  padding-top: 94px;
  background-color: #f5f4fa;
}

.team-about {
  display: flex;
  justify-content: center;
}

.container-list {
  width: 1170px;
  height: 1360px;
  padding-left: 215px;
  padding-right: 215px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text);
  margin-bottom: 50px;
}

.it-team {
  display: flex;
  justify-content: center;
}

.name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.specialization {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

.member-groups {
  padding-top: 30px;
  padding-bottom: 30px;
}

.group:first-child {
  margin-left: 0;
}

.group {
  box-shadow: 0 2px 1px 0 rgb(0, 0, 0, 0.2), 0 1px 1px 0 rgb(0, 0, 0, 0.14), 0 1px 3px 0 rgb(0, 0, 0, 0.12);
  border-radius: 0 0 4px 4px;
  width: 270px;
  height: 368px;
  margin-left: 30px;
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 30px;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--accent-cl);
}

.span {
  color: var(--color);
}

.street-address,
.list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--color);
}

.list {
  color: rgb(255, 255, 255, 0.6);
  margin-top: 9px;
}

.information-email {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

.information-telephone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

.information-email:hover,
.information-email:focus {
  color: var(--txt-cl);
}

.information-telephone:hover,
.information-telephone:focus {
  color: var(--txt-cl);
}

.footer-cotainer {
  width: 1600px;
  padding-top: 94px;
}

.address {
  margin-top: 20px;
}

.item:nth-child(2) {
  margin-top: 9px;
}

.text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text);
  width: 322px;
  height: 36px;
  padding-right: 24px;
  padding-left: 24px;
}

.classification {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--txt-cl);
  width: 322px;
  height: 30px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 4px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}