:root {
  /* стилі шрифту */
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  /* кольори тексту */
  --text: #212121;
  --txt-cl: #757575;
  --color: #fff;
  --accent-cl: #2196f3;
  --span: #000;
  /* background-color */
  --bg-cl: #2f303a;
  --color: #fff;
  --text-bg-cl: #f5f4fa;
  /* Icon-svg */
  --icons-team:#AFB1B8;
}

* {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--color);
  background-color: #fff;
}

section {
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

a {
  outline: none;
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Кнопки */
.studio-portfolio:hover,
.studio-portfolio:focus {
  color: var(--accent-cl);
}

.portfolio-portfolio:focus,
.portfolio-portfolio:hover {
  color: var(--accent-cl);
}

.contacts-portfolio:hover,
.contacts-portfolio:focus {
  color: var(--accent-cl);
}

.btn {
  margin: 0 auto;
  display: block;
  width: 216px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  color: var(--color);
  background-color: #2196f3;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
}

.all {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgb(0, 0, 0, 0.12), 0 1px 2px 0 rgb(0, 0, 0, 0.08),
    0 3px 1px 0 rgb(0, 0, 0, 0.1);
  background: #2196f3;
  margin-left: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.clik {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text);
  cursor: pointer;
  border-radius: 4px;
  background: #f5f4fa;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.buttons:last-child {
  padding-right: 0;
}

.clik:hover,
.clik:focus {
  background-color: #2196f3;
  color: var(--color);
}

.contacts-index:hover,
.contacts-index:focus {
  color: var(--accent-cl);
}

.portfolio-index:hover {
  color: var(--accent-cl);
}

.studio-list:hover {
  color: var(--accent-cl);
}

.information-number:hover,
.information-number:focus {
  color: var(--accent-cl);
}

.information:hover,
.information:focus {
  color: var(--accent-cl);
}

.contacts-list:hover,
.contacts-list:focus {
  color: var(--accent-cl);
}

.information-number:hover {
  color: var(--accent-cl);
}

.btn:hover,
.btn:focus {
  background-color: #2196f3;
  color: var(--color);
}

.information-email:hover,
.information-email:focus {
  color: var(--accent-cl);
}

.information-telephone:hover,
.information-telephone:focus {
  color: var(--accent-cl);
}

/* Шапка сайту */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--accent-cl);

  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;

  margin-right: 93px;
  font-family: var(--second-family);
}

.span-color {
  color: var(--span);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.navigation {
  margin-left: 93px;
}

.list-informatoins {
  display: flex;
  gap: 50px;
}

.navigation-item {
  display: flex;
}

.navigation-item:last-child {
  margin-right: 0;
}

.studio-index-accent {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--accent-cl);
  padding-top: 32px;
  padding-bottom: 32px;
}

.portfolio-index {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--text);

  padding-top: 32px;
  padding-bottom: 32px;

  box-sizing: content-box;
}

.contacts-index {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--text);
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-index:last-child {
  margin-right: auto;
}

.header-group-list {
  display: flex;
  margin-left: auto;
  align-items: baseline;
}

.information {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--txt-cl);
  text-decoration: none;

  justify-content: center;
  text-align: center;
  display: flex;
  margin-left: 10px;
}

.information-number {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--txt-cl);
  text-decoration: none;
  justify-content: center;
  text-align: center;
}

.information-list:last-child {
  margin-left: 50px;
}
.header-group-list {
  fill: var(--txt-cl);
}

.header-icon {
  margin-right: 10px;
  
  
}

.header-link-list:hover {
  fill: var(--accent-cl);
}
.group-link {
  margin-right: 50px;
  
}
.group-link:last-child {
  margin-right: 0;
}
.header-link-list {
  text-decoration: none;

  font-family: var(--main-font);
  font-weight: 500;
  letter-spacing: 0.02em;
  
  color: var(--txt-cl);
  
}
.header-link-phone {
  text-decoration: none;

  font-family: var(--main-font);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--txt-cl);
}
.header-link-list:hover,
.header-link-list:focus{
color: var(--accent-cl);
}
.header-link-phone:hover,
.header-link-phone:focus{
  color: var(--accent-cl);
}
.header-icon:hover,
.header-icon:focus {
color: var(--accent-cl);
}
/* Hero-group */
.header-group {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../image/Img\ Overlay\ \(4\).png),
    url(../image/Img\ \(1\).jpg);

  background-color: var(--dark-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;

}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color);
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/* About-group */
.about-group {
  padding-top: 94px;
}

.about-container {
  display: flex;
  align-items: center;
}

.features-item {
  display: flex;
}

.features-item:last-child {
  margin-right: 0;
}


.features-icon {
  width: 270px;
  
  background-color: var(--text-bg-cl);
  display: block;
  margin-bottom: 30px;
}
.features-icon:last-child{
  margin-right: 0;
}
.features-list:not(:last-child) {
  margin-right: 30px;
}

.features {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text);
  margin-bottom: 10px;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--txt-cl);
}
.features-icon {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.icon-item {
  width: 70px;
  height: 70px;
  
}
/* Occupation */

.our-occupation {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text);
  margin-bottom: 50px;
  margin-top: 94px;
}

.team-about {
  display: flex;
  justify-content: center;
}

.image-item {
  margin-left: 30px;
}

.image-item:first-child {
  margin-left: 0;
}

/* Our-team */
.our-team {
  padding-top: 94px;
  background-color: #f5f4fa;
}
.team-social-link-list {
  display: flex;
    justify-content: center;
  margin-top: 16px;
}
.team-social-link-item {
  margin-right: 10px;
  border-radius: 50%;
    
    
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
}

.team {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text);
  margin-bottom: 50px;
}

.it-team {
  display: flex;
  justify-content: center;
}

.group:first-child {
  margin-left: 0;
}

.group {
  border-radius: 0 0 4px 4px;
    width: 270px;
  
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 1px 3px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
  
    margin-right: 30px;
}

.member-groups {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.specialization {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}


.our-team-icons {
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;

}
.member-icons {
  fill: var(--icons-team);
 
  width: 20px;
    height: 20px;
    gap: 10px;
}
.our-team-icons:hover {
  background-color: #2196f3;
  
}
.our-team-icons:hover .member-icons,
.our-team-icons:focus .member-icons{
fill: var(--color);

}
/* Regular-customers */

.client {
  font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    padding-top: 94px;
    padding-bottom: 50px;
}
.customers-list {
  display: flex;

 
}

  

.customers {
  fill: #afb1b8;
  margin-right: 30px;
border: 1px solid #afb1b8;
  border-radius: 4px;
display: flex;
width: 170px;
height: 92px;


}


.svg {
  width: 106px;
  height: 60px;
  margin-top: 16px;
  margin-left: 32px;
}
.customers:hover,
.customers:focus {
  fill: var(--accent-cl);
  
}
.customers:last-child {
  margin-right: 0;
}
.list-icon-customers {
  width: 170px;
  
  margin-right: 30px;
}
/* Footer */
.footer-cotainer {
  display: flex;
  align-items: baseline;
}
footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  line-height: normal;
  letter-spacing: 0.03em;
  color: var(--accent-cl);
}

.span {
  color: var(--color);
}

.list {
  color: rgb(255, 255, 255, 0.6);
  margin-top: 9px;
}

.street-address,
.list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--color);
}

.address {
  margin-top: 20px;
}

.information-email {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255, 0.6);
  padding-top: 9px;
}

.information-telephone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255, 0.6);
  padding-top: 9px;
}

.join-in {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: var(--color);
  margin-bottom: 20px;

}

.social {
  margin-left: 70px;
}

.social-network {
  display: flex;
  
  align-items: baseline;
}
.social-links {
  margin-right: 10px;
  
  
  
 
}
.social-icons {
 display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links:hover,
.social-links:focus {
  background-color: #2196f3;
  border-radius: 50%;
}


.social-links:last-child {
  margin-right: 0;
}
.footer-icons {
fill: white;
}
/* Portfolio */

.container-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.studio-portfolio {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--span);
  padding-top: 32px;
  padding-bottom: 32px;
}

.portfolio-portfolio {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--accent-cl);

  padding-top: 32px;
  padding-bottom: 32px;

  box-sizing: content-box;
}

.contacts-portfolio {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--text);
  padding-top: 32px;
  padding-bottom: 32px;
}

.button:last-child {
  margin-left: 0;
}

.buttons {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
}

.image-portfolio {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
}

.image-list-portfolio {
  width: 370px;

  background: #fff;
}

.image-list-portfolio-three,
.image-list-portfolio-six,
.image-list-portfolio-nine {
  margin-right: 0;
  border: 1px solid #eee;
  width: 370px;
  height: 404px;
  background: #fff;
}

.image-list {
  width: 370px;

  margin-bottom: 30px;
  background-color: var(--color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.image-list:nth-child(3n + 1) {
  margin-right: 0;
}

.image-list:nth-child(-n + 3) {
  margin-bottom: 0;
}

.features-list {
  width: 270px;
  height: 98px;
}

.features-list:last-child {
  margin-right: 0;
}

.container-list {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.item:nth-child(2) {
  margin-top: 9px;
}

.text,
.classification {
  font-family: var(--font-family);
}

.text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text);
  margin-bottom: 4px;
}

.classification {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--txt-cl);
}

.project-info {
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;

  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
}
